<div class="form-container">
  <h1>Reset Password</h1>
  <%= form_tag password_reset_path(params[:id]), method: :patch do %>
    <%= hidden_field_tag "user[password_reset_token]", params[:id] %>

    <div>
      <%= label_tag "user[password]", "Password" %>
      <%= password_field_tag "user[password]", nil, required: true %>
    </div>

    <div>
      <%= label_tag "user[password_confirmation]", "Confirm Password" %>
      <%= password_field_tag "user[password_confirmation]", nil, required: true %>
    </div>

    <div>
      <%= submit_tag "Reset Password", class: "btn" %>
    </div>
  <% end %>
</div>
