<div class="form-container wide-form-container">
  <h1>Join an Existing Server</h1>
  <%= form_tag list_games_path, method: :get do %>
    <div class="form-group">
      <%= label_tag 'server_name', 'Server Name', class: 'form-label' %>
      <%= text_field_tag 'server_name', @search, required: true, class: 'input-field' %>
      <%= submit_tag 'Search', class: 'btn', style: 'margin-top: 10px' %>
    </div>
  <% end %>

  <% if @found_games && @found_games.any? %>
    <table class="styled-table">
      <thead>
      <tr>
        <th>Server Name</th>
        <th>Host</th>
        <th>Capacity</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% @found_games.each do |game| %>
        <tr>
          <td><%= game.name %></td>
          <td><%= game.user.username %></td>
          <td><%= game.characters.count %>/<%= game.max_user_count %></td>
          <td>
            <%= button_to 'Add', add_game_path(game), method: :post, class: 'btn' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="no-results">No games found. Please try a different search.</p>
  <% end %>

  <div class="button-group">
    <%= link_to 'Back', games_path, class: 'btn' %>
  </div>
</div>
