<!DOCTYPE html>
<html>
<head>
  <title>Shards of the Grid</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url('<%= asset_path("background.png") %>') no-repeat center center fixed;
  background-size: cover; background-attachment: fixed;">

<header>
  <% if @current_user %>
    <!-- Header for logged-in users -->
    <div class="header-logo">
      <img src="<%= asset_path('logo.png') %>" alt="Shards of the Grid Logo">
      <span class="header-text">Shards of the Grid</span>
    </div>
    <div class="nav">
      <% if @current_user.isAdmin? %>
        <%= link_to 'Admin', admin_path, class: 'nav-button' %>
      <% end %>
      <%= link_to 'Home', dashboard_path, class: 'nav-button' %>
      <%= link_to 'Servers', games_path, class: 'nav-button' %>
      <%= link_to 'Shop', shop_path, class: 'nav-button', data: { turbolinks: false } %>
      <% if @current_game%>
        <%= link_to 'Game', game_path(@current_game.id), class: 'nav-button' %>
      <%end %>
      <%= link_to 'Settings', settings_path, class: 'nav-button' %>
      <%= link_to 'Logout', logout_path, method: :delete, class: 'nav-button' %>
    </div>
    <div class="flash-container">
      <% flash.each do |key, message| %>
        <div class="flash <%= key %>"><%= message %></div>
      <% end %>
    </div>
  <% else %>
    <!-- Header for visitors -->
    <div class="header-logo">
      <img src="<%= asset_path('logo.png') %>" alt="Shards of the Grid Logo">
    </div>
    <h1>Shards of the Grid</h1>
    <div class="flash-container">
      <% flash.each do |key, message| %>
        <div class="flash <%= key %>"><%= message %></div>
      <% end %>
    </div>
  <% end %>
</header>
<main>
  <%= yield %>
</main>

<footer>
  <p>&copy; <%= Time.now.year %></p>
</footer>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        setTimeout(function() {
            const flashMessages = document.querySelectorAll('.flash');
            flashMessages.forEach(function(flash) {
                flash.classList.add('fade-out');
                setTimeout(() => flash.remove(), 500); // Remove element after fade out
            });
        }, 2500); // 5 seconds
    });
</script>

</body>
</html>
